[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=uploadWithRclone;
X-KDE-AuthorizeAction=shell_access

[Desktop Action uploadWithRclone]
#Exec=$HOME/.local/share/kservices5/ServiceMenus/upload-with-rclone.sh %f
Exec=$HOME/.local/share/kservices5/ServiceMenus/upload-with-rclone.sh %f >> $HOME/logs/upload-with-rclone.desktop.log 2>&1
Icon=system-software-update

Name=Upload with RClone...

Comment=Uploads selected item using rclone.
